	<header class="header">
		<nav class="navbar navbar-custom" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Дополнительная навигация</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="font-family: 'Raleway400, sans-serif'" href="/">Сергей Запольский</a>
				</div>
				<div class="collapse navbar-collapse" id="custom-collapse">
          <Menu></Menu>
				</div>
			</div>
		</nav>
	</header>
