<Video-Screen></Video-Screen>
<section id="home" class="pfblock-image screen-height">
  <div class="home-overlay"></div>
  <div class="home-top-panel-ver"><a href="https://zapolskiy.moscow/">Laravel (Base JQuery)</a></div>
  <div class="home-top-panel-react"><a href="https://reactjs.zapolskiy.moscow/">React.js (Base Next.js SSR)</a></div>
  <div class="home-top-panel-angular">Angular (Base Angular 12)</div>
  <div class="home-top-panel-tel">Тел: <b>+7 962 206-4142</b></div>
  <div class="main-face">
    <div id="mi_face"></div>
  </div>
  <div class="intro">
    <div class="start">Сергей Запольский</div>
    <h1>РАЗРАБОТКА САЙТОВ</h1>
    <div class="start">Решения будущего сегодня</div>
  </div>
  <a href="#services">
    <div class="scroll-down">
      <span>
          <i class="fa fa-angle-down fa-2x"></i>
      </span>
    </div>
  </a>
</section>
